*{
    margin: 0;
    padding: 0;
}
body{
    background: #D2C5A9;
    text-align: center;
}
h1{
    border: 0.02rem solid black;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}
.box{
    height: 10.0rem;
    width: 10.0rem;
    gap: 1.5vmin;
    border: none;
    font-size: 4rem;
    color: red;
    border-radius: 1rem;
    background-color: white;
        /* box-shadow: 5rem ; */

    /* border-bottom: 2px solid black; */
}
.game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.7vmin;
    /* border: 2px solid black; */
    /* height: 230px; */
    height: 54vmin;
    width: 55vmin;
    
}
.container{
    border: 0.02rem solid black;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reset-btn{
    border: none;
    padding: 1rem;
    margin-top: 1.0rem;
    background-color: blue;
    color: white;
    border-radius: 1rem;
}
#new-btn{
    border: none;
    padding: 1rem;
    margin-top: 1.0rem;
    background-color: blue;
    color: white;
    border-radius: 1rem;
}
#msg{
    color: green;
    font-size: 3rem;
    /* visibility: hidden; */
}
.hide{
    display: none;
}

html{
    font-size: 62.5%;
}
@media(max-width:998px){
    html{
        font-size: 65%;
    }
}

@media(max-width:768px){
    html{
        font-size: 60%;
    }
}
@media(max-width:668px){
    html{
        font-size: 55%;
    }
}
@media(max-width:568px){
    html{
        font-size: 50%;
    }
}
@media(max-width:468px){
    html{
        font-size: 40%;
    }
}
@media(max-width:368px){
    html{
        font-size: 30%;
    }
}

